@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --poppins: Poppins, "sans-serif";
  --primary-color: #fee660;
  --secondary-color: #9a24ff;
  --danger-color: #fc0c0c;
  --orange: #ff7b01;
  font-size: 62.5%;
}

html {
  background: url("../assets/images/earth-space-scene/32313.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--poppins);
  font-weight: bold;
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0 3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__text {
  text-align: center;
}

.header__title {
  font-size: 10rem;
  color: var(--purple);
}

.header__greeting {
  font-size: 3rem;
}

.header__username {
  color: var(--secondary-color);
}

.header__icon {
  padding: 3rem 0;
}

.header__settings-icon,
.header__info-icon {
  color: var(--primary-color);
  font-size: 8rem;
}

.main {
  flex: 1;
  padding: 8rem 0;
  font-size: 4rem;
}

.main__option{
  margin: 4rem 0 0 0;
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.main__options{
  width: fit-content;
  margin: 0 auto;
}

.main__resume:hover, .main__newgame:hover{
  color: var(--orange);
}

.main__resume::before, .main__newgame::before{
  content: url("../assets/images/Fire.svg");
  position: absolute;
  top: -17px;
  left: -170px;
  display: none;
}

.main__resume:hover:before, .main__newgame:hover:before{
  display: initial;
}

/* Utilities */
.none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}
