html {
  overflow-x: hidden;
}

.main {
  flex: 1;
  padding: 8rem 0;
  font-size: 4rem;
  display: flex;
}

.main__option {
  margin: 4rem 0 0 0;
  position: relative;
  cursor: pointer;
}

.main__options {
  width: fit-content;
  margin: 0 auto;
}

.main__resume:hover,
.main__newgame:hover {
  color: var(--orange);
}

.main__resume::before,
.main__newgame::before {
  content: url("../assets/images/Fire.svg");
  position: absolute;
  top: -17px;
  left: -170px;
  display: none;
}

.main__resume:hover:before,
.main__newgame:hover:before {
  display: initial;
}

.footer {
  height: 100px;
  margin: 2rem 0;
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

.footer__level {
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.footer__level:hover,
.footer__credit:hover {
  color: var(--orange);
}

.popup,
.settings,
.credits,
.info {
  width: 95vw;
  max-width: 900px;
  min-height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 25px;
}

.popup__title,
.credits__title {
  font-size: 8rem;
}

.popup__description,
.credits__item,
.info__tagline,
.info__levels {
  font-size: 4rem;
  text-align: center;
  color: var(--secondary-color);
}

.popup__username {
  color: var(--secondary-color);
}

.popup__button {
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-family: inherit;
  cursor: pointer;
}

.popup__button--invert {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.popup__button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.popup__button--invert:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body.blur {
  background-color: rgba(0, 0, 0, 0.6);
}

body.blur main {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.settings__item {
  width: 100%;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__action:last-child {
  text-align: right;
}

.settings__sound--icon {
  width: 10rem;
  height: 10rem;
}

.settings__action--username {
  color: var(--secondary-color);
}

.credits__item {
  display: block;
}

.info__tagline {
  color: var(--primary-color);
}

.info__stars {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__star-details {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.info__star-details > * {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}
