html {
  overflow-x: hidden;
}

.main {
  flex: 1;
  padding: 8rem 0;
  font-size: 4rem;
  display: flex;
}

.main__option {
  margin: 4rem 0 0 0;
  position: relative;
  cursor: pointer;
}

.main__options {
  width: fit-content;
  margin: 0 auto;
}

.main__resume:hover,
.main__newgame:hover {
  color: var(--orange);
}

.main__resume::before,
.main__newgame::before {
  content: url("../assets/images/Fire.svg");
  position: absolute;
  top: -17px;
  left: -170px;
  display: none;
}

.main__resume:hover:before,
.main__newgame:hover:before {
  display: initial;
}

.footer {
  height: 100px;
  margin: 2rem 0;
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

.footer__level {
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.footer__level:hover,
.footer__credit:hover {
  color: var(--orange);
}

.popup {
  width: 95vw;
  max-width: 900px;
  min-height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 25px;
}

.popup__title {
  font-size: 8rem;
}

.popup__description {
  font-size: 4rem;
  text-align: center;
  color: var(--secondary-color);
}

.popup__username {
  color: var(--secondary-color);
}

.popup__button {
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-family: inherit;
  cursor: pointer;
}

.popup__button--invert {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.popup__button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.popup__button--invert:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body.blur header,
body.blur main,
body.blur footer {
  overflow: hidden;
  opacity: 0;
}
