body{
    background-color: rgba(0, 0, 0, 0.6);
}
.levels{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.levels__level-cnt{
    height: 280px;
    width: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 6rem;
}
.levels__img-cnt{
    cursor: pointer;
    position: relative;
}
.levels__level{
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.levels__star-cnt{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
.footer i{
    font-size: 5rem;
}
