.header__info--level::before {
  content: "Survival";
  color: var(--secondary-color);
}

.result__data {
  align-items: flex-start;
  margin-top: 15rem;
}

.result__data div p {
  margin: 1rem 0;
}

@media (max-width: 950px) {
  .result__data {
      margin-top: 0;
    align-items: center;
  }
}
